<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Báo</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="../css/bootstrap-grid.css">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="content">
                    <form action="/save" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="text" class="form-control" name="ISBN" id="ISBN" placeholder="ISBN" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="tenbai" id="tenbai" placeholder="Nhập tên bài" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="tacgia" id="tacgia" placeholder="tacgia" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="trang" id="trang" placeholder="trang" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="namxb" id="namxb" placeholder="nam xuat ban" />
                        </div>
                        <div class="form-group">
                            <input type="file" class="form-control-file" name="img" id="img" accept="image/*" />
                        </div>
                        <input type="submit" class="btn btn-primary" value="Thêm" />
                    </form>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="/delete" method="post" enctype="multipart/form-data">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ISBN</th>
                                <th>Tên bài</th>
                                <th>Tác Giả</th>
                                <th>Trang</th>
                                <th>Năm Xuát Bản</th>
                                <th>Ảnh</th>
                                <th>Chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i=0; i< data.length; i++){ %>
                                <tr>
                                    <td>
                                        <%= data[i].ISBN %>
                                    </td>
                                    <td>
                                        <%= data[i].tenbai %>
                                    </td>
                                    <td>
                                        <%= data[i].tacgia %>
                                    </td>
                                    <td>
                                        <%= data[i].trang %>
                                    </td>
                                    <td>
                                        <%= data[i].namxb %>
                                    </td>
                                    <td>
                                        <img src="<%= data[i].img %>" alt="" width="100" height="100" />
                                        <td>
                                            <input type="checkbox" name="<%= data[i].ISBN %>" id="<%= data[i].ISBN %>" />
                                        </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                    <input type="submit" class="btn btn-danger" value="Xoá" />
                </form>
            </div>
        </div>
    </div>
</body>

</html>